<!doctype html>
<html lang="en">

<head>
    <title>Web</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../Frontend/css/fruit.css">
    <link rel="stylesheet" href="1.js">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

<body>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-1">

        </div>
        <div class="col-md-4">
            <span class="text-center"
                  style="color:#D57E67 ;">Chào mừng bạn đến với Thật Fruit|Hotline:0981 992 352</span>
            <div class="form-group" style="width:300px ;">
                <label for=""> </label>
                <input type="text" class="form-control" name="search" id="a" aria-describedby="helpId"
                       placeholder="Tìm kiếm...">
                <small id="helpId" class="form-text text-muted"></small>

            </div>
        </div>
        <div class="col-md-3">
            <img src="../Frontend/images/logo-desktop.jpg" alt="">
        </div>
        <div class="col-md-2">
            <div class="row1">
                <i class="fa fa-user" aria-hidden="true" style="color: #D57E67;"></i>
                <span><a href="../login.html" style="color: black;">Đăng nhập</a></span>
            </div>
            <div class="row2" style="margin-top: 40px;">
                <i class="fa fa-heart-o" aria-hidden="true" style="color: #D57E67;"></i>
                <span>WISHLISH</span>
            </div>

        </div>
        <div class="col-md-2">
            <div class="row1">
                <i class="fa fa-map-marker" aria-hidden="true" style="color:#D57E67;"></i>
                <span> Bản đồ</span>
            </div>
            <div class="row2" style="margin-top:40px ;">
                <i class="fa fa-shopping-cart" aria-hidden="true" style="color: #D57E67;"></i>
                <span>GIỎ HÀNG</span>
            </div>
        </div>

    </div>
    <div class="menu">
        <ul class="menu">

            <li><a href="">TRANG CHỦ</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">TRÁI CÂY TƯƠI</a>
                <div class="dropdown-menu">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="../html/cherry.html">Cherry</a></li>
                        <li class="list-group-item">Nho</li>
                        <li class="list-group-item">Táo</li>
                        <li class="list-group-item">Lê</li>
                    </ul>
                </div>
            </li>
            <li><a href="">GIỎ TRÁI CÂY</a></li>
            <li><a href="">NƯỚC DETOX</a></li>
            <li><a href="">TIN TỨC</a></li>
            <li><a href="">LIÊN HỆ</a></li>
        </ul>
    </div>


    <div class="container-fluid">
        <div class="row" style="padding-top: 50px;">

            <div class="col-md-1"></div>
            <div class="col-md-3">
                <b>
                    <hr>
                </b>
            </div>
            <div class="col-md-4">
          <span>
            <h3 style="color: #2a0b0d;"><b style="margin-left: 80px;">GIỎ TRÁI CÂY </b></h3>
          </span>
            </div>
            <div class="col-md-3">
                <b>
                    <hr>
                </b>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="product">
        <div class="col1">
            <img src="../Frontend/images/giohoaqua.jpg" alt="">
            <a href="">
                <h6>Giỏ 1</h6>
            </a>
            <h6>92500₫</h6>
            <div class="nut">
                <button type="button" class="btn btn-danger">500g</button>
                <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
            </div>
            <div class="add1">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>THÊM VÀO GIỎ</span>

            </div>
        </div>
        <div class="col1">
            <img src="../Frontend/images/gio2.jpg" alt="">
            <a href="">
                <h6>Giỏ 2</h6>
            </a>
            <h6>145000₫</h6>
            <div class="nut">
                <button type="button" class="btn btn-danger">500g</button>
                <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
            </div>
            <div class="add1">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>THÊM VÀO GIỎ</span>

            </div>
        </div>
        <div class="col1">
            <img src="../Frontend/images/gio3.jpg" alt="">
            <a href="">
                <h6>Giỏ 3</h6>
            </a>
            <h6>98000₫</h6>
            <div class="nut">
                <button type="button" class="btn btn-danger">500g</button>
                <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
            </div>
            <div class="add1">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>THÊM VÀO GIỎ</span>

            </div>
        </div>

        <div class="col1">
            <img src="../Frontend/images/gio4.jpg" alt="">
            <a href="">
                <h6>Giỏ 4</h6>
            </a>
            <h6>85000₫</h6>
            <div class="nut">
                <button type="button" class="btn btn-danger">500g</button>
                <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
            </div>
            <div class="add1">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>THÊM VÀO GIỎ</span>

            </div>
        </div>
    </div>


    <div class="container-fluid">

        <div class="product">
            <div class="col1">
                <img src="../Frontend/images/gio5.jpg" alt="">
                <a href="">
                    <h6>Giỏ 5</h6>
                </a>
                <h6>92500₫</h6>
                <div class="nut">
                    <button type="button" class="btn btn-danger">500g</button>
                    <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
                </div>
                <div class="add1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>THÊM VÀO GIỎ</span>

                </div>
            </div>
            <div class="col1">
                <img src="../Frontend/images/gio6.jpg" alt="">
                <a href="">
                    <h6>Giỏ 6</h6>
                </a>
                <h6>145000₫</h6>
                <div class="nut">
                    <button type="button" class="btn btn-danger">500g</button>
                    <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
                </div>
                <div class="add1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>THÊM VÀO GIỎ</span>

                </div>
            </div>
            <div class="col1">
                <img src="../Frontend/images/gio8.jpg" alt="">
                <a href="">
                    <h6>Giỏ 7</h6>
                </a>
                <h6>98000₫</h6>
                <div class="nut">
                    <button type="button" class="btn btn-danger">500g</button>
                    <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
                </div>
                <div class="add1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>THÊM VÀO GIỎ</span>

                </div>
            </div>

            <div class="col1">
                <img src="../Frontend/images/gio5.jpg" alt="">
                <a href="">
                    <h6>Giỏ 8</h6>
                </a>
                <h6>99500₫</h6>
                <div class="nut">
                    <button type="button" class="btn btn-danger">500g</button>
                    <button type="button" class="btn btn-light" style="margin-left: 15px;">1kg</button>
                </div>
                <div class="add1">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>THÊM VÀO GIỎ</span>

                </div>
            </div>
        </div>


        <div class="end1">
            <div class="vanchuyen">
                <img src="../Frontend/images/xe.png" alt="">
                <span>MIỄN Phí VẬN CHUYỂN</span>
            </div>
            <div class="vanchuyen">
                <img src="../Frontend/images/chungnhan.png" alt="">
                <span>CHỨNG NHẬN CHẤT LƯỢNG</span>
            </div>
            <div class="vanchuyen">
                <img src="../Frontend/images/hoantien.png" alt="">
                <span>HOÀN TIỀN SẢN PHẨM LỖI</span>
            </div>
            <div class="vanchuyen">
                <img src="../Frontend/images/tuvan.png" alt="">
                <span>TƯ VẤN SẢN PHẨM MIỄN PHÍ</span>
            </div>
        </div>

        <div class="end2">
            <div class="above">
                <div class="above1">
                    <h6>Đăng kí nhận ưu đãi mới nhất từ chúng tôi</h6>
                </div>

                <div class="above2" style="margin-top: 45px;">
                    <div border-radius="1em" class="form-group" style="width: 400px ;">
                        <label for=""></label>
                        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
                               placeholder="Email của bạn">
                        <small id="emailHelpId" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="above3" style="margin-top: 69px;">
                    <button type="button" class="btn btn-danger">Đăng kí</button>
                </div>
            </div>


            <div class="below">
                <div class="below1">
                    <h5>VỀ CHÚNG TÔI</h5>
                    <p>Giới thiệu</p>
                    <p>Tuyển dụng</p>
                    <p>Tin tức</p>
                    <p>Liên hệ</p>
                </div>
                <div class="below2">
                    <h5>HỖ TRỢ KHÁCH HÀNG</h5>
                    <p>Cửa hàng</p>
                    <p>Chăm sóc khách hàng</p>
                    <p>Chính sách đổi trả</p>

                </div>
                <div class="below2">
                    <h5>TÀI KHOẢN</h5>
                    <p>Đăng nhập</p>
                    <p>Đăng ký tài khoản</p>
                    <p>GIỏ hàng</p>
                </div>
                <div class="below2">
                    <h5>THẬT FRUIT</h5>
                    <p>Văn phòng: 120 Triệu Việt Vương, Hai</p>
                    <p>Bà Trưng, Hà Nội Điện thoại: 0981 992</p>
                    <p>352 Email: thatfruit@gmail.com Giờ mở</p>
                    <p>cửa: 8h00 - 22h00, T2 - CN</p>
                </div>
            </div>
        </div>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>