<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/addProduct.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <style>
    </style>
</head>

<body>

<header>
    <div class="w-100 d-flex justify-content-between">
        <h3 style="margin-left:20px;">Ware House</h3>
        <div class="dropdown">
            <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#" ><i class="fa fa-user" aria-hidden="true"></i>User Profile</a>
                <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </div>
        </div>
    </div>
</header>

<section>
    <nav>

        <input class="in"  type="text" placeholder="Search...">
        <span> <button class="in"><i class="fa fa-search " aria-hidden="true"></i></button></span>

        <div class="list-group">
            <div class="">
                <div class="" id="sidebar">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="list-group-item list-group-item-action" href="../html/addNewProduct.html">Create New Product</a></li>
                        <li class="nav-item"><a class="list-group-item list-group-item-action" href="../html/addProduct.html">Create Product</a></li>


                    </ul>
                </div>


            </div>
        </div>

    </nav>

    <article>
        <form action="" style="margin-top: 10px;">
            <div class="div1">
                <h3 style="font-size: 17px; text-align: center;"> Add New Product</h3>
            </div>
            <div class="div2" style="margin-bottom: 20px;text-align: center;">
                <input class="in1"  type="url" placeholder="Image">
                <br>
                <input class="in1"  type="text" placeholder="Name">
                <br>
                <input class="in1"  type="text" style="height: 50px;" placeholder="Describe">
                <br>
                <input class="in1" type="number" placeholder="Mount">
                <br>
                <input class="in1" type="number" placeholder="Import Price">
                <br>
                <input class="in1" type="number" placeholder="Price">
                <br>
                <input class="in1" type="number" placeholder="Mount">
                <br>
                <input class="in1"  type="text" placeholder="supplier">
                <br>
                <button class="in1 in2" type="submit">Add</button>
                <br>

        </form>




    </article>
</section>

</body>

</html>

