<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/addProduct.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <style>
    </style>
</head>

<body>

<header>
    <div class="w-100 d-flex justify-content-between">
        <h3 style="margin-left:20px;">Sell Product</h3>
        <div class="dropdown">
            <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#" ><i class="fa fa-user" aria-hidden="true"></i>User Profile</a>
                <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
            </div>
        </div>
    </div>
</header>

<section>
    <nav>

        <input class="in"  type="text" placeholder="Search...">
        <span> <button class="in"><i class="fa fa-search " aria-hidden="true"></i></button></span>

        <div class="list-group">
            <div class="">
                <div class="" id="sidebar">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="list-group-item list-group-item-action" href="">Create Bill</a></li>
                        <li class="nav-item"><a class="list-group-item list-group-item-action" href="">History Bill</a></li>


                    </ul>
                </div>


            </div>
        </div>

    </nav>

    <article>
        <div class="select" style="margin-left: 700px;">
            <a href="../html/addProduct.html" class="btn btn-default" style="background-color:rgb(84, 160, 84);color: white;">Create</a>
            <a href="../html/addProduct.html" class="btn btn-default" style="background-color:rgb(206, 32, 20);color: white;">Cancel</a>
        </div>
        <h5>Nhân viên bán hàng:</h5>
        <h5>Thời gian lập:</h5>
        <h5>Tên khách hàng:</h5>

        <table class="table table-bordered" style="width:700px; margin:auto;margin-top: 30px;">
            <thead>
            <tr style="background-color: rgb(238, 235, 235);">

                <th style="width:200px;">Name</th>
                <th style="width:200px;">Mount</th>
                <th style="width:200px;">Price</th>
                <th></th>


            </tr>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <button type="button" id="X" ><i class="fa fa-times" aria-hidden="true"></i></button>
                </td>


            </tr>
            </tbody>
            </thead>
        </table>
        <a href="../html/addproductBill.html" class="btn btn-default" style="background-color:rgb(152, 160, 152);"><button type="button" id="plus1"><i class="fa fa-plus" aria-hidden="true"></i></button>  Add Product</a>

        <div class="end" style="margin-top:20px;text-align: center;">

            <h5 style="padding-left: 30px;">Tổng tiền:</h5>
            <h5 style="padding-left: 140px;">Hình thức thanh toán:</h5>

            <p style="padding-top: 30px;">-------------------------------------------</p>
            <h5>Hẹn gặp lại!</h5>
        </div>

    </article>
</section>

</body>

</html>

