<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quản Lí Tài Khoản</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/Backend/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" th:href="@{/Backend/dist/css/adminlte.min.css}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
        <div th:replace="common/headeradmin :: header"></div>

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Form Tài Khoản</h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Fruit</a></li>
								<li class="breadcrumb-item active">General Form</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							
							<div class="card card-warning">
								<div class="card-header">
									<h3 class="card-title">Form Tài Khoản</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<form role="form" th:action="@{/admin/QuanLyTaiKhoan/Sua}"  th:object="${account}" enctype="multipart/form-data" method="post">
									
									
									    <input type="hidden" th:field="*{id}">
									    <!-- Tên Sản phâm -->
										<div class="row">
											<div class="col-sm-12">
												<!-- text input -->
												<div class="form-group">
													<label>Tên Người Dùng</label> 
													<input th:field="*{fullname}" type="text" class="form-control" placeholder="Enter ...">
												</div>
											</div>
										</div>
										<!-- End-->
										
										 <!-- Mô tả Sản phẩm -->
										<div class="row">
											<div class="col-sm-12">
												<!-- textarea -->
												<div class="form-group">
													<label>Địa chỉ</label>
													<input th:field="*{address}" type="text" class="form-control" placeholder="Enter ...">
												</div>
											</div>
										</div>
										 <!-- End-->
										 
										 <!-- Số điện thoại -->
										 <div class="row">
											<div class="col-sm-12">
												<!-- textarea -->
												<div class="form-group">
													<label> Số Điện Thoại </label>
													<input th:field="*{phone}" type="text" class="form-control" placeholder="Enter ...">
												</div>
											</div>
										</div>
										<!-- End -->

										 <!-- Tài Khoản -->
										<div class="form-group">
											<label class="col-form-label" for="inputSuccess">
											<i class="fas fa-check"></i> Tên Tài Khoản
											</label> 
												<input th:field="*{username}" type="text"
												class="form-control is-valid" id="inputSuccess"
												placeholder="Enter ..." >
										</div>
										<!--End -->
										
										<!-- Mật Khẩu -->
										<div class="form-group">
											<label class="col-form-label" for="inputSuccess">
											<i class="fas fa-check"></i> Mật Khẩu
											</label> 
												<input th:field="*{password}" type="text"
												class="form-control is-valid" id="inputSuccess"
												placeholder="Enter ..." >
										</div>
										<!--End -->
										<div class="row">
											<div class="col-sm-12">
												<!-- radio -->
												<label th:text="#{status}" ></label>
												<div class="form-group">
													<div class="form-check">
														<input class="form-check-input" type="radio" th:field="*{active}" value="1" >
														<label class="form-check-label" th:text="#{active}"></label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="radio" th:field="*{active}" value="0"
															checked > <label class="form-check-label" th:text="#{inactive}"></label>
													</div>

												</div>
											</div>
										</div>

										
										<div class="row">
											<div class="col-sm-12">
												<!-- checkbox -->												
												<div class="form-group">
												    <label>Vai Trò</label>
													<div class="form-check" >
													<p th:each="role : ${roles}">
														<input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${role.name}"  />
														 <label	class="form-check-label" th:text="${role.name}"></label>
												    </p>
													</div>													
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="exampleInputFile">Ảnh Avatar</label>
											<div class="input-group">
												<div class="custom-file">
													<input type="file" name="file" >
												</div>
											</div>
										</div>
										<input type="submit" value="Submit">

									</form>
								</div>
								<!-- /.card-body -->
							</div>



							<!-- /.card -->
						</div>
						<!--/.col (right) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>

		<div th:replace="common/footeradmin :: footer"></div>
</div> 

<script th:src="@{/Backend/plugins/jquery/jquery.min.js}"> </script>
<script th:src="@{/Backend/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/Backend/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
<script th:src="@{/Backend/dist/js/adminlte.min.js}"></script>
<script th:src="@{/Backend/dist/js/demo.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>