<div th:each="product : ${listProduct}" class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img th:src="@{'/images/' + ${product.url_image} }"
					alt="Khong hien hinh anh" />
				<!-- <h2 th:text="${product.price}"></h2> -->
				<h2 th:text="${#numbers.formatCurrency(product.price)}"></h2>
				<p th:text="${product.name}"></p>
				<a href="#" class="btn btn-default add-to-cart"><i
					class="fa fa-shopping-cart"></i>Add to cart</a>
			</div>
			<div class="product-overlay">
				<div class="overlay-content">
					<h2 th:text="${product.price}"></h2>
					<p th:text="${product.name}"></p>
					<a th:href="@{'/cart/add/' + ${product.id}}"
						class="btn btn-default add-to-cart"><i
						class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
				</div>
			</div>
		</div>
		<div class="choose" >
			<ul class="nav nav-pills nav-justified" >
				<li ><a th:href="@{'/detailproduct/' + ${product.id}}" style="width: 100px"  ><i class="fa fa-plus-square"></i>Xem chi tiết</a></li>
			</ul>
		</div>
	</div>
</div>