<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Email</title>
 
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/Backend/plugins/fontawesome-free/css/all.min.css}">
  
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 
  <link rel="stylesheet" th:href="@{/Backend/dist/css/adminlte.min.css}">
  
  <link rel="stylesheet" th:href="@{/Backend/plugins/summernote/summernote-bs4.css}">
  
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  
  <div th:replace="common/headeradmin :: header"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Compose</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Compose</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <a href="mailbox.html" class="btn btn-primary btn-block mb-3">Back to Inbox</a>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Folders</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="#" class="nav-link">
                      <i class="fas fa-inbox"></i> Inbox
                      <span class="badge bg-primary float-right">12</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-envelope"></i> Sent
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-file-alt"></i> Drafts
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-filter"></i> Junk
                      <span class="badge bg-warning float-right">65</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-trash-alt"></i> Trash
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Labels</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-circle text-danger"></i> Important</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-circle text-warning"></i> Promotions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-circle text-primary"></i> Social</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <form th:action="@{/admin/Email/send}" method="post" >
								<div class="card card-primary card-outline">
									<div class="card-header">
										<h3 class="card-title">Send Email</h3>
									</div>
									
									
									
									<div class="card-body">
										<div class="form-group">
											<ol>
												<li><input type="checkbox" id="select_all" />Chọn tất cả</li>
												
												<li th:each="account : ${accounts}">
												   <input class="checkbox" type="checkbox"	name="emails" th:value="${account.email}">
												   <label th:text=" ${account.username} + ': ' + ${account.email}"></label>
												</li>
												
												
												
												
												
											</ol>
										</div>
										
										<div class="form-group">
											<input class="form-control" name="subject" placeholder="Subject:">
										</div>
										
										<div class="form-group">
											<textarea id="compose-textarea" name="text" class="form-control"
												style="height: 300px" >
                                             </textarea>
										</div>
										
										<div class="form-group">
											<div class="btn btn-default btn-file">
												<i class="fas fa-paperclip"></i> Đính kèm <input
													type="file" name="attachment">
											</div>
											<p class="help-block">Max. 32MB</p>
										</div>
									</div>
									
									<div class="card-footer">
										<div class="float-right">
											<button type="button" class="btn btn-default">
												<i class="fas fa-pencil-alt"></i> Draft
											</button>
											<button type="submit" class="btn btn-primary">
												<i class="far fa-envelope"></i> Gởi Email
											</button>
										</div>
										<button type="reset" class="btn btn-default">
											<i class="fas fa-times"></i> Discard
										</button>
									</div>
									<!-- /.card-footer -->
								</div>




		    </form>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <div th:replace="common/footeradmin :: footer"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{/Backend/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/Backend/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/Backend/dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/Backend/dist/js/demo.js}"></script>
<!-- Summernote -->
<script th:src="@{/Backend/plugins/summernote/summernote-bs4.min.js}"></script>
<script>

	$(function() {
		//Add text editor
		$('#compose-textarea').summernote()
	})

	$("#select_all").change(function() { //"select all" change 
		$(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
	});

	//".checkbox" change 
	$('.checkbox').change(function() {
		//uncheck "select all", if one of the listed checkbox item is unchecked
		if (false == $(this).prop("checked")) { //if this item is unchecked
			$("#select_all").prop('checked', false); //change "select all" checked status to false
		}
		//check "select all" if all checkbox items are checked
		if ($('.checkbox:checked').length == $('.checkbox').length) {
			$("#select_all").prop('checked', true);
		}
	});
</script>
</body>
</html>
