form {
    width:600px;
    margin: auto;
    border: 1px solid rgb(122, 165, 214);
    border-radius: 20px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.in1 {
    width: 450px;
    margin:10px 25px 15px 25px;
    height: 30px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 5px;
}
.in2{
    border: 1px solid rgb(61, 168, 61);
    background-color: rgb(61, 168, 61);
    color: honeydew;
    font-size: 17px;
    height: 35px;
    font-weight: bold;
}