* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(233, 229, 229);
    border-bottom: 1px solid rgb(204, 200, 200);
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 650px; /* only for demonstration, should be removed */
    background-color: rgb(233, 229, 229);
    border-right: 1px solid rgb(204, 200, 200);
}
nav input{
    margin-top:15px;

    margin-left:20px;
}


.nav-link[data-toggle].collapsed:after {
    content: "▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: "▴";
}



.in{
    border-radius:5px;
    border: 1px solid rgb(158, 155, 155);
    margin-bottom: 10px;
}



/* Style the list inside the menu */


article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: white;


}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}



/* Style the footer */


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}



