.container {
    max-width: 1200px;
}

.menu {
    background-color: #2A0B0D;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    margin-top: 3px;
}

ul.menu {
    list-style: none;
    display: flex;
    max-width: 991px;
    margin-left: auto;
    margin-right: auto;

}

ul.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 19px;
    transition: 0.4s;
}

ul.menu a:hover {
    color: rgb(129, 54, 66);
    padding-top: 5px;

}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.container img {
    width: 188px;
    height: 229px;
    margin-top: 20px;
}

.col {
    width: 216px;
    height: 457px;
    background-color: #FBF1EE;
    margin-left: 20px;
    border-radius: 1em;

}

.col a h6 {
    color: #2A0B0D;
    margin-top: 20px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;


}

.col h6 {
    color: #DC3545;
    text-align: center;
}

.col button {
    width: 80px;
}

.add {
    background-color: #DC3333;
    width: 188px;
    height: 44px;
    border-radius: 1em;
    margin-top: 20px;

}

.add i {
    color: white;
    margin-left: 15px;
    margin-top: 10px;
}

.add span {
    color: white;
    text-align: center;
}

.baner {
    margin-top: 100px;
    max-width: 1200px;
    display: flex;
    margin-left: 80px;
}

.baner img {
    width: 572px;
    height: 240px;
    border-radius: 1em
}

.product {
    margin-top: 50px;
    width: 1200px;
    display: flex;
    margin-left: 50px;
}

.product img {
    width: 230px;
    height: 305px;
    margin-top: 20px;
    margin-left: 15px;
}

.col1 {
    width: 280px;
    height: 540px;
    background-color: #FBF1EE;
    margin-left: 40px;
    border-radius: 1em;

}

.col1 a h6 {
    color: #2A0B0D;
    margin-top: 20px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;


}

.col1 h6 {
    color: #DC3545;
    text-align: center;
}

.col1 button {
    width: 80px;
    margin-left: 35px;
}

.add1 {
    background-color: #DC3333;
    width: 188px;
    height: 44px;
    border-radius: 1em;
    margin-top: 20px;
    margin-left: 30px;

}

.add1 i {
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

.add1 span {
    color: white;
    text-align: center;
}

.end1 {
    margin-top: 50px;
    width: 100%;
    height: 105px;
    background-color: #D57E67;
    display: flex;
}

.vanchuyen {
    margin-left: 60px;
    margin-top: 40px;
}

.vanchuyen span {
    color: white;
}

.end2 {
    width: 100%;
    height: 460px;
    background-color: #2A0B0D;
}

.above {
    margin-left: 60px;
    display: flex;

}

.above1 h6 {
    margin-top: 70px;
    color: #777777;
    margin-right: 400px;
}

.below {
    display: flex;
    margin-top: 50px;
}

.below1 {
    color: white;
    margin-left: 60px;
}

.below2 {
    color: white;
    margin-left: 120px;
}

.below p {
    color: #777777;
}
