.container{
    max-width: 1200px;
}
.menu ul li{
    list-style-type: none;
    float: left;
    padding: 0px 31px;
}
.menu a{
    text-decoration: none;
    color: blueviolet;
    text-transform:uppercase ;
    font-weight: 600;

}
.menu a:hover{
    color: brown;
}
.menu.sub-menu li{
    float: none;
    padding: 0px;
}
.sub-menu{
    display: none;
    padding: 0px;
}
.item-menu:hover.sub-menu{
    display: block;
}
