<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quản Lí Danh Mục</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/Backend/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" th:href="@{/Backend/dist/css/adminlte.min.css}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
        <div th:replace="common/headeradmin :: header"></div>

		<div class="content-wrapper">

			<section class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>Form Danh Mục/h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Fruit</a></li>
								<li class="breadcrumb-item active">General Form</li>
							</ol>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							
							<div class="card card-warning">
								<div class="card-header">
									<h3 class="card-title">Form Danh Mục</h3>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<form role="form" th:action="@{/admin/QuanLyDanhMuc/Them}"  th:object="${category}"  method="post">
									
									    <!-- Tên Sản phâm -->
										<div class="row">
											<div class="col-sm-12">
												<!-- text input -->
												<div class="form-group">
													<label>Tên Danh Mục</label> 
													<input th:field="*{name}" type="text" class="form-control" placeholder="Enter ...">
												</div>
											</div>
										</div>
										<!-- End-->
										
										 <!-- Mô tả Sản phẩm -->
										<div class="row">
											<div class="col-sm-12">
												<!-- textarea -->
												<div class="form-group">
													<label th:text="#{description}" ></label>
													<textarea th:field="*{description}" class="form-control" rows="3"
														placeholder="Enter ..."></textarea>
												</div>
											</div>
										</div>
										 <!-- End -->									
										<input type="submit" value="Submit">

									</form>
								</div>
								<!-- /.card-body -->
							</div>



							<!-- /.card -->
						</div>
						<!--/.col (right) -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>

		<div th:replace="common/footeradmin :: footer"></div>
</div> 

<script th:src="@{/Backend/plugins/jquery/jquery.min.js}"> </script>
<script th:src="@{/Backend/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/Backend/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
<script th:src="@{/Backend/dist/js/adminlte.min.js}"></script>
<script th:src="@{/Backend/dist/js/demo.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>